.App {
  text-align: center;
  background-color: #ADD8E6; /* light blue */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tide-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.tide-item {
  display: flex;
  justify-content: space-between;
  width: 200px;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}

.time, .height {
  font-weight: bold;
}

