.App {
  text-align: center;
  background-color: #ADD8E6; /* light blue */
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #282c34;
}

.tide-info {
  margin: 20px auto;
  border-collapse: collapse;
  width: 50%;
}

.tide-info th, .tide-info td {
  border: 1px solid #000;
  padding: 10px;
  text-align: left;
}

.tide-info th {
  background-color: #282c34;
  color: #fff;
}

.tide-info td {
  background-color: #fff;
}
